[class^="container"],
[class^="col"] {

  border: 1px solid black;
  min-height: 80px;
}
header {
  background-color: #2d3e4f;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: white;
}

.jumbotron {
  height: 400px;
  background-color: green;
}

.about {
  height: 300px;
  background-color: green;
}
